braghettos/config/flows.json
[{"id":"a0d9be92.26a87","type":"tab","label":"Check sensorStatus","disabled":false,"info":""},{"id":"41496098.34f5c","type":"tab","label":"Receive telegram commands","disabled":false,"info":""},{"id":"2890336b.d9823c","type":"tab","label":"Get IgrValue plot","disabled":false,"info":""},{"id":"88cfd3e9.275de","type":"tab","label":"Receive XBee packet","disabled":false,"info":""},{"id":"b8d1c3bd.68d3","type":"tab","label":"Receive web command","disabled":false,"info":""},{"id":"67f217da.865728","type":"tab","label":"Commands Queue Handler","disabled":false,"info":""},{"id":"4283f0c3.3b44b","type":"xbee-config","z":"","apiMode":"2","rawFrames":false,"convertAdc":true,"vrefAdc":"1200","serialPort":"/dev/serial0","lock":true,"baudRate":"9600","dataBits":"8","stopBits":"1","parity":"none","bufferSize":"65536","rtscts":false,"xon":false,"xoff":false,"xany":false,"vmin":"1","vtime":"0"},{"id":"80710f61.106e1","type":"wiotp-credentials","z":"","name":"","org":"8eg0a9","serverName":"","devType":"aquaponics","devId":"aquaponics","keepalive":"300","cleansession":true,"tls":"","usetls":false},{"id":"d8525076.87936","type":"telegram bot","z":"","botname":"makeaqwertybot","usernames":"350858271","chatids":"350858271"},{"id":"ebba87d5.7905d8","type":"inject","z":"a0d9be92.26a87","name":"Sensor Status","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/5 6-22 * * *","once":false,"x":122.80157470703125,"y":134.547607421875,"wires":[["6e56045e.22f2dc"]]},{"id":"c14cf83f.e49b28","type":"comment","z":"a0d9be92.26a87","name":"Check Sensor Status every 5 minutes","info":"","x":410.6349182128906,"y":58.047607421875,"wires":[]},{"id":"83fa0786.f013d8","type":"inject","z":"2890336b.d9823c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 23 * * *","once":false,"x":140.5,"y":152,"wires":[["22517046.6bc17"]]},{"id":"22517046.6bc17","type":"python-function","z":"2890336b.d9823c","name":"Get IgrValue plot","func":"import requests\nimport plotly.plotly as py\nimport plotly.graph_objs as go\nfrom datetime import datetime\n\n# Define cloudant username\nuser = \"b75ed432-525e-4bf7-bcc7-1146c4634da8-bluemix\"\n\n# Define cloudant password\npasswd = \"8e1da5fba2be2e5798322931d17cc29179281c99cf2d0d50860fb099b904ee86\"\n\n# Define cloudant host\nhost = user+\".cloudant.com\"\n\n\ni = datetime.now()\n\nyear = i.strftime(\"%Y\")\nmonth = i.strftime(\"%m\")\nday = i.strftime(\"%d\")\n\nnode.warn(\"Today is \" + year + \"-\" + month + \"-\" + day)\n\n# Define cloudant db name\ndb = \"iotp_8eg0a9_aquaponics_\" + str(year) + \"-\" + str(month) + \"-\" + str(day)\n\n# Define view variable to contain the Map View Name\nview = \"by-date\"\n\n# Frame the URL using above defned variables values\nurl = 'https://'+host+'/'+db+'/_design/iotp/_view/'+view\n\n# Define args variable to store required parameter values\nargs = { 'descending' : 'false' }\n\n# Invoke HTTP GET request with all required parameters\nresponse = requests.get(url,params=args,auth=(user,passwd))\n\nigrValue = [];\nigrTime = [];\n\n# Check the response status code, should be 200 to proceed further\nif ( response.status_code == 200):\n    # Get the response data in JSON format\n    jsonData = response.json()\n    # Get the device data records which are JSON array of rows with in jsonData\n    records = jsonData['rows']\n    # For each record, get deviceType, deviceID and devicedata from the records\n    for record in records:\n        dType = record['value']['deviceType']\n        dTimestamp = record['value']['timestamp']\n        \n        igrTime.append(dTimestamp);\n        \n        dValue = record['value']['data']['d']['aquaponicSensor']['igrValue']\n        \n        igrValue.append(dValue);\n        \n        node.warn(\"igrValue=\" + str(dValue) + \", timestamp=\" + str(dTimestamp) )\n        #print \"Device Type: %s  Device Id: %s  Value: %s\" %(dType,dID,str(dValue))\nelse:\n    #print \"HTTP GET Failed with Status Code - %s\" %(response.status_code)\n    node.warn(\"HTTP GET Failed with Status Code - \" + response.status_code)\n\npy.sign_in('braghettos', 'HjPGCZef6HXIro7lRf4L') # Replace the username, and API key with your credentials.\n\ntrace = go.Scatter(x=igrTime, y=igrValue)\ndata = [trace]\nlayout = go.Layout(title='IgrValue Plot', width=800, height=640)\nfig = go.Figure(data=data, layout=layout)\n\npy.image.save_as(fig, filename='/tmp/igrvalue-plot-' + year + '-' + month + '-' + day + '.png')\n\nnode.warn(\"img created!\");\n\nreturn msg","outputs":1,"x":370.5,"y":175,"wires":[["641e53d4.153a7c"]]},{"id":"6e56045e.22f2dc","type":"switch","z":"a0d9be92.26a87","name":"check if scanningFishBed is false","property":"scanningFishBed","propertyType":"global","rules":[{"t":"eq","v":"false","vt":"str"},{"t":"null"}],"checkall":"true","outputs":2,"x":273.2777786254883,"y":216.66667556762695,"wires":[["69530dc2.a1e844"],["69530dc2.a1e844"]]},{"id":"69530dc2.a1e844","type":"function","z":"a0d9be92.26a87","name":"set sensorStatus command","func":"var msg = { payload: \n    {\n        command: \"sensorStatus\" // Can either be string or byte array. \n    }    \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":327.2777786254883,"y":314.66667556762695,"wires":[["f0569ae6.f54828"]]},{"id":"98783b06.d21508","type":"telegram command","z":"2890336b.d9823c","name":"","command":"/getigrvalueplot","bot":"d8525076.87936","x":127.5,"y":244,"wires":[["22517046.6bc17"],[]]},{"id":"641e53d4.153a7c","type":"function","z":"2890336b.d9823c","name":"Send IgrValue plot via Telegram","func":"d = new Date();\n\nlet month = String(d.getMonth() + 1);\nlet day = String(d.getDate());\nconst year = String(d.getFullYear());\n\nif (month.length < 2) month = '0' + month;\nif (day.length < 2) day = '0' + day;\n\nnode.warn(year + \"-\" + month + \"-\" + day);\n\nvar msg = { payload: \n    {\n        type: 'photo', \n        content: '/tmp/igrvalue-plot-' + year + '-' + month + '-' + day + '.png',\n        chatId: 350858271\n    }    \n};\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":456.5,"y":273,"wires":[["86678d95.b48a6"]]},{"id":"86678d95.b48a6","type":"telegram sender","z":"2890336b.d9823c","name":"","bot":"d8525076.87936","x":599.5,"y":349,"wires":[["34855c8a.a9b0c4"]]},{"id":"34855c8a.a9b0c4","type":"debug","z":"2890336b.d9823c","name":"telegram sender debug","active":true,"console":"true","complete":"true","x":621.5,"y":448,"wires":[]},{"id":"f3ba93c7.ed41c","type":"xbee-rx","z":"88cfd3e9.275de","name":"","xBee":"4283f0c3.3b44b","x":115,"y":135,"wires":[["86f002b.b093c","e2286855.be1678"]]},{"id":"86f002b.b093c","type":"function","z":"88cfd3e9.275de","name":"XBee Received data","func":"var firstChar;\nvar lastChar;\nvar newMsg;\nvar payloadAppend = context.get('payloadAppend')||'';\n\n//node.warn('first char=' + firstChar);\n\nif (msg.payload.type === 144) {\n   \n   firstChar = msg.payload.data.toString().substr(0, 1);\n   lastChar = msg.payload.data.toString().substr(msg.payload.data.length-1, msg.payload.data.length);\n   \n   node.warn(\"payload received=\" + msg.payload.data.toString() + \", length=\" + msg.payload.data.length);\n   \n   if(firstChar == \"|\" && lastChar == \"|\" ){\n       \n       var payload = msg.payload.data.toString().substr(1, msg.payload.data.length-2);\n       \n       node.warn(\"payload PRE 1 (single message)=\" + payload);\n       \n       //payloadAppend = msg.payload.data.toString();\n       payloadAppend = payload;\n       newMsg = { payload: payloadAppend };\n       context.set('payloadAppend','');\n   } else if(firstChar == \"|\" ){\n       \n       var payload = msg.payload.data.toString().substr(1, msg.payload.data.length);\n       \n       node.warn(\"payload PRE 2=\" + payload);\n       \n       //payloadAppend += msg.payload.data.toString();\n       payloadAppend += payload;\n       context.set('payloadAppend',payloadAppend);\n   } else if(lastChar == \"|\" ){\n       \n       var payload = msg.payload.data.toString().substr(0, msg.payload.data.length-1);\n       \n       node.warn(\"payload PRE 3=\" + payload);\n       \n       //payloadAppend += ',' + msg.payload.data.toString();\n       payloadAppend += ',' + payload;\n       newMsg = { payload: payloadAppend };\n       context.set('payloadAppend','');\n   } else {\n       payloadAppend += ',' + msg.payload.data.toString();\n       \n       node.warn(\"payload PRE 4=\" + msg.payload.data.toString());\n       \n       context.set('payloadAppend',payloadAppend);\n   }\n   \n   node.warn(\"msg.payload.data=\" + msg.payload.data.toString() + \", firstChar=\" + firstChar + \", lastChar=\" + lastChar + \", payloadAppend POST =\" + payloadAppend);\n   \n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":314.2777633666992,"y":207.11111640930176,"wires":[["ea45fc5d.55346","eecd86a7.5518d8"]]},{"id":"e2286855.be1678","type":"debug","z":"88cfd3e9.275de","name":"input raw frame","active":true,"console":"false","complete":"true","x":638.1666641235352,"y":137.00000190734863,"wires":[]},{"id":"ea45fc5d.55346","type":"debug","z":"88cfd3e9.275de","name":"New payload","active":true,"console":"false","complete":"payload","x":628.8888854980469,"y":208.99999618530273,"wires":[]},{"id":"9e2b0d24.c2091","type":"json","z":"88cfd3e9.275de","name":"","pretty":true,"x":369.7222366333008,"y":370.44444847106934,"wires":[["3a5b7e4d.0be312","2ebbfbe7.301604","89b472c6.0396c"]]},{"id":"3a5b7e4d.0be312","type":"debug","z":"88cfd3e9.275de","name":"json validator","active":true,"console":"false","complete":"true","x":627.6110916137695,"y":369.99999046325684,"wires":[]},{"id":"754b6d2d.768274","type":"wiotp out","z":"88cfd3e9.275de","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"80710f61.106e1","deviceType":"raspberrypi","deviceId":"raspberrypi3","event":"aquaponicsensor","format":"json","qos":"0","name":"","x":640.3611450195312,"y":474.66668701171875,"wires":[]},{"id":"eecd86a7.5518d8","type":"switch","z":"88cfd3e9.275de","name":"if payload is final json message","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"}","vt":"str"}],"checkall":"true","outputs":1,"x":296.7777786254883,"y":284.55556297302246,"wires":[["9e2b0d24.c2091"]]},{"id":"9503ac48.abc4","type":"comment","z":"88cfd3e9.275de","name":"Read XBee packet and send it to Watson IoT Platform","info":"","x":386.6666793823242,"y":60.55555725097656,"wires":[]},{"id":"80a31bf1.921148","type":"http in","z":"b8d1c3bd.68d3","name":"","url":"/command","method":"post","upload":true,"swaggerDoc":"","x":134.38890838623047,"y":111.88884925842285,"wires":[["1f71b197.84aa9e","f6c6c60f.3e7c38","fa3795af.2af7a8"]]},{"id":"1f71b197.84aa9e","type":"debug","z":"b8d1c3bd.68d3","name":"Command from web","active":true,"console":"false","complete":"true","x":399.4444580078125,"y":111.77775573730469,"wires":[]},{"id":"7769d5ca.0bddcc","type":"comment","z":"b8d1c3bd.68d3","name":"Execute command from Watson IoT Platform","info":"","x":418.8333435058594,"y":54.444435119628906,"wires":[]},{"id":"f6c6c60f.3e7c38","type":"link out","z":"b8d1c3bd.68d3","name":"","links":["2ae63839.7999c8"],"x":313.8888645172119,"y":200.00001525878906,"wires":[]},{"id":"f0569ae6.f54828","type":"link out","z":"a0d9be92.26a87","name":"","links":["2ae63839.7999c8"],"x":617.8889122009277,"y":314.6666793823242,"wires":[]},{"id":"2ebbfbe7.301604","type":"switch","z":"88cfd3e9.275de","name":"check command","property":"payload.aquaponicSensor.command","propertyType":"msg","rules":[{"t":"eq","v":"sensorstatus","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":366.75,"y":480.75,"wires":[["754b6d2d.768274"],["9e4214ce.590928"]]},{"id":"f99dc643.af2068","type":"telegram sender","z":"88cfd3e9.275de","name":"","bot":"d8525076.87936","x":641,"y":745,"wires":[["11c41a2c.190e36"]]},{"id":"11c41a2c.190e36","type":"debug","z":"88cfd3e9.275de","name":"telegram sender debug","active":true,"console":"true","complete":"true","x":691,"y":844,"wires":[]},{"id":"b7514410.2b0088","type":"function","z":"b8d1c3bd.68d3","name":"Forward web command via Telegram","func":"var newmsg = { payload: \n    {\n        type: 'message', \n        content: 'Just received the following message: ' + msg.payload,\n        chatId: 350858271\n    }    \n};\n\nreturn newmsg;","outputs":1,"noerr":0,"x":409,"y":269,"wires":[["f5e30130.e13"]]},{"id":"f5e30130.e13","type":"telegram sender","z":"b8d1c3bd.68d3","name":"","bot":"d8525076.87936","x":532,"y":345,"wires":[["82577d51.b20ac"]]},{"id":"82577d51.b20ac","type":"debug","z":"b8d1c3bd.68d3","name":"telegram sender debug","active":true,"console":"true","complete":"true","x":554,"y":444,"wires":[]},{"id":"fa3795af.2af7a8","type":"json","z":"b8d1c3bd.68d3","name":"","pretty":false,"x":166.5,"y":234,"wires":[["b7514410.2b0088"]]},{"id":"9097b8ff.5c0b08","type":"function","z":"88cfd3e9.275de","name":"Send payload via Telegram","func":"var newmsg = { payload: \n    {\n        type: 'message', \n        content: msg.payload,\n        chatId: 350858271\n    }    \n};\n\nreturn newmsg;","outputs":1,"noerr":0,"x":418,"y":685,"wires":[["f99dc643.af2068"]]},{"id":"9e4214ce.590928","type":"json","z":"88cfd3e9.275de","name":"","pretty":false,"x":366.5,"y":581,"wires":[["9097b8ff.5c0b08"]]},{"id":"4c6b097d.f51758","type":"switch","z":"67f217da.865728","name":"Check commandRunning is false","property":"commandRunning","propertyType":"global","rules":[{"t":"false"},{"t":"null"}],"checkall":"true","outputs":2,"x":240,"y":300,"wires":[["459b063d.c76658"],["459b063d.c76658"]]},{"id":"9daa581b.f792e8","type":"function","z":"67f217da.865728","name":"add command to commandsQueue","func":"var commands = global.get(\"commandsQueue\");\n\nif (typeof commands == 'undefined'){\n    commands = [];\n}\n\nvar commandToAdd = msg.payload.command.toString().toLowerCase();\n\nvar found = commands.includes(commandToAdd);\n\nif(!found){\n    node.warn(\"command \"+ commandToAdd + \" not found, adding it to the queue\");\n    commands.push(commandToAdd);\n    global.set(\"commandsQueue\",commands);\n} else {\n    node.warn(\"command \"+ commandToAdd + \" already in queue! Wasting..\");\n}\n\n\nnode.warn(\"commandsQueue=\" + global.get(\"commandsQueue\").toString() + \", length=\" + global.get(\"commandsQueue\").length + \", commandRunning=\" + global.get(\"commandRunning\"));\n\nreturn msg;","outputs":1,"noerr":0,"x":340.5555487738715,"y":222.22225454118518,"wires":[["493cc0dc.11bff","4c6b097d.f51758"]]},{"id":"493cc0dc.11bff","type":"debug","z":"67f217da.865728","name":"","active":true,"console":"false","complete":"false","x":657.7777625189888,"y":221.8889224794176,"wires":[]},{"id":"2ae63839.7999c8","type":"link in","z":"67f217da.865728","name":"Commands Queue Handler","links":["ba9d3a33.8b2c48","f0569ae6.f54828","43a69ae7.b7e094","f6c6c60f.3e7c38","3a35662f.2cba4a","c15c8b.a3a98378","688947b9.b61688","50e2f77c.eccc48","b5290a35.1ff698","61f84a13.1724e4","20754885.56df08","94fe4ecb.09ef5","8512d689.3a4768","36a84d00.31ac14","7974d19a.e3388","f620d448.2e40f8","d9aeb25b.187b3","3b727901.63df46","848cd65.a6ebc28","af938505.ff4fe8","6029410f.58f53"],"x":131.6666785346137,"y":143.3333329094781,"wires":[["9daa581b.f792e8","afaeeeff.4d6aa"]]},{"id":"afaeeeff.4d6aa","type":"debug","z":"67f217da.865728","name":"commands queue input","active":true,"console":"false","complete":"true","x":393.88890075683594,"y":142.11111068725586,"wires":[]},{"id":"a18b9c77.70b07","type":"function","z":"67f217da.865728","name":"XBee Transmit Request","func":"var commands = global.get(\"commandsQueue\");\nvar command = commands[0];\nglobal.set(\"commandRunning\",true);\n\nnode.warn(\"commandsQueue=\" + global.get(\"commandsQueue\").toString() + \", length=\" + global.get(\"commandsQueue\").length + \", commandRunning=\" + global.get(\"commandRunning\"));\n\nvar newMsg = { payload: \n    {\n        type: 0x10, // xbee_api.constants.FRAME_TYPE.ZIGBEE_TRANSMIT_REQUEST \n        id: 0x01, // optional, nextFrameId() is called per default \n        destination64: \"0013A200408BB14C\",\n        destination16: \"fffe\", // optional, \"fffe\" is default \n        broadcastRadius: 0x00, // optional, 0x00 is default \n        options: 0x00, // optional, 0x00 is default \n        //data: msg.payload.command.toString().toLowerCase() // Can either be string or byte array. \n        data: command\n    }    \n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":634.8611221313477,"y":322.6110897064209,"wires":[["68a8023e.878cac","a4456f5d.ed668"]]},{"id":"68a8023e.878cac","type":"debug","z":"67f217da.865728","name":"XBee packet to send","active":true,"console":"false","complete":"payload","x":934.5555534362793,"y":323.36109018325806,"wires":[]},{"id":"a4456f5d.ed668","type":"xbee-tx","z":"67f217da.865728","name":"","xBee":"4283f0c3.3b44b","x":892.5000114440918,"y":409.5833225250244,"wires":[]},{"id":"822c3de8.a6c48","type":"inject","z":"67f217da.865728","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"55 05 * * *","once":false,"x":255,"y":66.66666666666667,"wires":[["30b1f62e.7897aa"]]},{"id":"30b1f62e.7897aa","type":"function","z":"67f217da.865728","name":"reset commandsQueue","func":"var commands = [];\n\nglobal.set(\"commandsQueue\",commands);\nglobal.set(\"commandRunning\",false);\n\nnode.warn(\"commandsQueue=\" + global.get(\"commandsQueue\").toString() + \", length=\" + global.get(\"commandsQueue\").length + \", commandRunning=\" + global.get(\"commandRunning\"));\n\nreturn msg;","outputs":1,"noerr":0,"x":506.6666259765625,"y":66.66665649414062,"wires":[[]]},{"id":"89b472c6.0396c","type":"function","z":"88cfd3e9.275de","name":"remove command to commandsQueue","func":"var commands = global.get(\"commandsQueue\")||[0];\n\nvar command = msg.payload.aquaponicSensor.command;\n\nvar index = commands.indexOf(command);\n\nnode.warn(\"commandsQueue PRE=\" + global.get(\"commandsQueue\").toString() + \", length=\" + global.get(\"commandsQueue\").length + \", commandRunning=\" + global.get(\"commandRunning\"));\n\nif (index > -1) {\n    commands.splice(index, 1);\n    node.warn(\"command \" + command + \" removed, commandRunning=\" + global.get(\"commandRunning\"));\n    \n    global.set(\"commandRunning\",false);\n    node.warn(\"commandsQueue POST=\" + global.get(\"commandsQueue\").toString() + \", length=\" + global.get(\"commandsQueue\").length + \", commandRunning=\" + global.get(\"commandRunning\"));\n    return [msg,null];\n} else {\n    node.error(\"command \" + command + \" not found in queue\");\n    node.warn(\"commandsQueue POST=\" + global.get(\"commandsQueue\").toString() + \", length=\" + global.get(\"commandsQueue\").length + \", commandRunning=\" + global.get(\"commandRunning\"));\n    return [null,msg];\n}\n","outputs":"2","noerr":0,"x":713,"y":424,"wires":[["421f9ca6.b46ee4"],[]]},{"id":"fcc115a6.638a78","type":"function","z":"67f217da.865728","name":"display commandsQueue debug","func":"node.warn(\"commandsQueue=\" + global.get(\"commandsQueue\").toString() + \", length=\" + global.get(\"commandsQueue\").length + \", commandRunning=\" + global.get(\"commandRunning\"));\n\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":532.5,"wires":[["4c6b097d.f51758"]]},{"id":"b39969d7.f1db38","type":"link in","z":"67f217da.865728","name":"From Remove Command","links":["421f9ca6.b46ee4"],"x":99.5,"y":467,"wires":[["fcc115a6.638a78"]]},{"id":"421f9ca6.b46ee4","type":"link out","z":"88cfd3e9.275de","name":"","links":["b39969d7.f1db38"],"x":895,"y":500,"wires":[]},{"id":"459b063d.c76658","type":"switch","z":"67f217da.865728","name":"Check commandsQueue length > 0","property":"commandsQueue.length","propertyType":"global","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":340,"y":360,"wires":[["a18b9c77.70b07"]]},{"id":"3e9f3a92.0bf876","type":"function","z":"41496098.34f5c","name":"create question","func":"msg.payload.type = 'message';\nmsg.payload.content = 'Really?';\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":480,"y":280,"wires":[["aa6646b7.da35d8"]]},{"id":"b70f657a.c79098","type":"telegram command","z":"41496098.34f5c","name":"/gohome","command":"/gohome","bot":"d8525076.87936","x":320,"y":240,"wires":[["3e9f3a92.0bf876"],[]]},{"id":"aa6646b7.da35d8","type":"telegram sender","z":"41496098.34f5c","name":"send question","bot":"d8525076.87936","x":580,"y":340,"wires":[["63124061.da27a"]]},{"id":"63124061.da27a","type":"telegram reply","z":"41496098.34f5c","name":"get reply","bot":"d8525076.87936","x":680,"y":400,"wires":[["b7e1affe.2f99"]]},{"id":"b7e1affe.2f99","type":"function","z":"41496098.34f5c","name":"switch answer","func":"if(msg.payload.content === 'Yes' || msg.payload.content === 'yes')\n{\n    msg.payload.command = 'gohome';\n    return [msg, null];   \n}\nelse\n{\n    return [null, msg];   \n}\n","outputs":"2","noerr":0,"x":800,"y":480,"wires":[["36a84d00.31ac14"],[]]},{"id":"36a84d00.31ac14","type":"link out","z":"41496098.34f5c","name":"","links":["2ae63839.7999c8"],"x":1015,"y":474,"wires":[]},{"id":"128a38a9.7f69f7","type":"function","z":"41496098.34f5c","name":"create question","func":"msg.payload.type = 'message';\nmsg.payload.content = 'Really?';\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":480,"y":560,"wires":[["2302d579.af768a"]]},{"id":"f73d99de.d99a18","type":"telegram command","z":"41496098.34f5c","name":"/sensorstatus","command":"/sensorstatus","bot":"d8525076.87936","x":330,"y":520,"wires":[["128a38a9.7f69f7"],[]]},{"id":"2302d579.af768a","type":"telegram sender","z":"41496098.34f5c","name":"send question","bot":"d8525076.87936","x":580,"y":620,"wires":[["183bac1b.8c99f4"]]},{"id":"183bac1b.8c99f4","type":"telegram reply","z":"41496098.34f5c","name":"get reply","bot":"d8525076.87936","x":680,"y":680,"wires":[["665b44dd.fed2ec"]]},{"id":"665b44dd.fed2ec","type":"function","z":"41496098.34f5c","name":"switch answer","func":"if(msg.payload.content === 'Yes' || msg.payload.content === 'yes')\n{\n    msg.payload.command = 'sensorstatus';\n    return [msg, null];   \n}\nelse\n{\n    return [null, msg];   \n}\n","outputs":"2","noerr":0,"x":800,"y":760,"wires":[["f620d448.2e40f8"],[]]},{"id":"f620d448.2e40f8","type":"link out","z":"41496098.34f5c","name":"","links":["2ae63839.7999c8"],"x":1015,"y":754,"wires":[]},{"id":"909e28d.b1a77d8","type":"function","z":"41496098.34f5c","name":"create question","func":"msg.payload.type = 'message';\nmsg.payload.content = 'Really?';\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":480,"y":840,"wires":[["5be02cfa.df2464"]]},{"id":"e77d06bf.44a298","type":"telegram command","z":"41496098.34f5c","name":"/switchonpump","command":"/switchonpump","bot":"d8525076.87936","x":340,"y":800,"wires":[["909e28d.b1a77d8"],[]]},{"id":"5be02cfa.df2464","type":"telegram sender","z":"41496098.34f5c","name":"send question","bot":"d8525076.87936","x":580,"y":900,"wires":[["74c78a03.e41c34"]]},{"id":"74c78a03.e41c34","type":"telegram reply","z":"41496098.34f5c","name":"get reply","bot":"d8525076.87936","x":680,"y":960,"wires":[["3429f657.37c38a"]]},{"id":"3429f657.37c38a","type":"function","z":"41496098.34f5c","name":"switch answer","func":"if(msg.payload.content === 'Yes' || msg.payload.content === 'yes')\n{\n    msg.payload.command = 'switchonpump';\n    return [msg, null];   \n}\nelse\n{\n    return [null, msg];   \n}\n","outputs":"2","noerr":0,"x":800,"y":1040,"wires":[["d9aeb25b.187b3"],[]]},{"id":"d9aeb25b.187b3","type":"link out","z":"41496098.34f5c","name":"","links":["2ae63839.7999c8"],"x":1015,"y":1034,"wires":[]},{"id":"74c8c1b2.42d32","type":"function","z":"41496098.34f5c","name":"create question","func":"msg.payload.type = 'message';\nmsg.payload.content = 'Really?';\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":480,"y":1120,"wires":[["8e83891a.486218"]]},{"id":"6ec9e3d0.e746cc","type":"telegram command","z":"41496098.34f5c","name":"/switchoffpump","command":"/switchoffpump","bot":"d8525076.87936","x":340,"y":1080,"wires":[["74c8c1b2.42d32"],[]]},{"id":"8e83891a.486218","type":"telegram sender","z":"41496098.34f5c","name":"send question","bot":"d8525076.87936","x":580,"y":1180,"wires":[["b2b8a11e.7fc7e"]]},{"id":"b2b8a11e.7fc7e","type":"telegram reply","z":"41496098.34f5c","name":"get reply","bot":"d8525076.87936","x":680,"y":1240,"wires":[["6b289c72.028634"]]},{"id":"6b289c72.028634","type":"function","z":"41496098.34f5c","name":"switch answer","func":"if(msg.payload.content === 'Yes' || msg.payload.content === 'yes')\n{\n    msg.payload.command = 'switchoffpump';\n    return [msg, null];   \n}\nelse\n{\n    return [null, msg];   \n}\n","outputs":"2","noerr":0,"x":800,"y":1320,"wires":[["3b727901.63df46"],[]]},{"id":"3b727901.63df46","type":"link out","z":"41496098.34f5c","name":"","links":["2ae63839.7999c8"],"x":1015,"y":1314,"wires":[]},{"id":"849db88e.bc4488","type":"function","z":"41496098.34f5c","name":"create question","func":"msg.payload.type = 'message';\nmsg.payload.content = 'Really?';\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":480,"y":1380,"wires":[["b798cdeb.9d013"]]},{"id":"d1a5672c.6bc208","type":"telegram command","z":"41496098.34f5c","name":"/getigrvalue","command":"/getigrvalue","bot":"d8525076.87936","x":330,"y":1340,"wires":[["849db88e.bc4488"],[]]},{"id":"b798cdeb.9d013","type":"telegram sender","z":"41496098.34f5c","name":"send question","bot":"d8525076.87936","x":580,"y":1440,"wires":[["44f1ec4.624fa14"]]},{"id":"44f1ec4.624fa14","type":"telegram reply","z":"41496098.34f5c","name":"get reply","bot":"d8525076.87936","x":680,"y":1500,"wires":[["3c3325e6.2a429a"]]},{"id":"3c3325e6.2a429a","type":"function","z":"41496098.34f5c","name":"switch answer","func":"if(msg.payload.content === 'Yes' || msg.payload.content === 'yes')\n{\n    msg.payload.command = 'getigrvalue';\n    return [msg, null];   \n}\nelse\n{\n    return [null, msg];   \n}\n","outputs":"2","noerr":0,"x":800,"y":1580,"wires":[["848cd65.a6ebc28"],[]]},{"id":"848cd65.a6ebc28","type":"link out","z":"41496098.34f5c","name":"","links":["2ae63839.7999c8"],"x":1015,"y":1574,"wires":[]},{"id":"f4fad061.4f737","type":"function","z":"41496098.34f5c","name":"create question","func":"msg.payload.type = 'message';\nmsg.payload.content = 'Really?';\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":480,"y":1680,"wires":[["30810076.87667"]]},{"id":"6b70821d.02f78c","type":"telegram command","z":"41496098.34f5c","name":"/getigrvaluethreshold","command":"/getigrvaluethreshold","bot":"d8525076.87936","x":360,"y":1640,"wires":[["f4fad061.4f737"],[]]},{"id":"30810076.87667","type":"telegram sender","z":"41496098.34f5c","name":"send question","bot":"d8525076.87936","x":580,"y":1740,"wires":[["78e6a15d.9da6e"]]},{"id":"78e6a15d.9da6e","type":"telegram reply","z":"41496098.34f5c","name":"get reply","bot":"d8525076.87936","x":680,"y":1800,"wires":[["a7e64ec1.4d3bb"]]},{"id":"a7e64ec1.4d3bb","type":"function","z":"41496098.34f5c","name":"switch answer","func":"if(msg.payload.content === 'Yes' || msg.payload.content === 'yes')\n{\n    msg.payload.command = 'getigrvaluethreshold';\n    return [msg, null];   \n}\nelse\n{\n    return [null, msg];   \n}\n","outputs":"2","noerr":0,"x":800,"y":1880,"wires":[["af938505.ff4fe8"],[]]},{"id":"af938505.ff4fe8","type":"link out","z":"41496098.34f5c","name":"","links":["2ae63839.7999c8"],"x":1015,"y":1874,"wires":[]},{"id":"9d9394db.5b16c8","type":"function","z":"41496098.34f5c","name":"create question","func":"msg.payload.type = 'message';\nmsg.payload.content = 'What is the max threshold?';\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":480,"y":2000,"wires":[["c68ca586.5fb078"]]},{"id":"a479bae9.79e978","type":"telegram command","z":"41496098.34f5c","name":"/startscanfishbed","command":"/startscanfishbed","bot":"d8525076.87936","x":340,"y":1960,"wires":[["9d9394db.5b16c8"],[]]},{"id":"c68ca586.5fb078","type":"telegram sender","z":"41496098.34f5c","name":"send question","bot":"d8525076.87936","x":580,"y":2060,"wires":[["b09023e8.9fb6f"]]},{"id":"b09023e8.9fb6f","type":"telegram reply","z":"41496098.34f5c","name":"get reply","bot":"d8525076.87936","x":680,"y":2120,"wires":[["881159be.8dd458"]]},{"id":"881159be.8dd458","type":"function","z":"41496098.34f5c","name":"switch answer","func":"if(msg.payload.content > 0)\n{\n    msg.payload.command = 'startscanfishbed' + msg.payload.content;\n    return [msg, null];   \n}\nelse\n{\n    return [null, msg];   \n}\n","outputs":"2","noerr":0,"x":800,"y":2200,"wires":[["6029410f.58f53"],[]]},{"id":"6029410f.58f53","type":"link out","z":"41496098.34f5c","name":"","links":["2ae63839.7999c8"],"x":1015,"y":2194,"wires":[]}]
